name: CI

on:
  push:
    branches: 
      - master
      - develop
      - feature/**
  pull_request:
    branches:
      - master
      - develop
      - feature/**
      
jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: docker://raphaelcastro35/dojo_pipe_bitbucket:v.0.1

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: bundle install --retry=3 --jobs=4 && env
    - name: Run tests
      run: bundle exec cucumber -p ci --retry 2
    - name: Report
      uses: actions/upload-artifact@v2
      with:
          name: report
          path: report/report.html
      env:
          USERNAME_TOKEN: ${{ secrets.USERNAME_TOKEN }}
          PASSWORD_TOKEN: ${{ secrets.PASSWORD_TOKEN }}
